<section class="header" id="downPage">
    <div class="container">
        <div class="logo">
            <a href="homePage.html">Foodieland</a><a style="color: orange;">.</a>
        </div>

        <nav>
            <ul>
                <li data-page="recipeDetailsPage.html">Recipes</li>
                <li data-page="blogListPage.html">Blog</li>
                <li data-page="contactPage.html">Contact</li>
                <li data-page="aboutUsPage.html">About us</li>
            </ul>
        </nav>
        
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</section>

<footer>
    <div class="container">
        <div class="footer-content">
            <p>© 2020 Flowbase. Powered by <span style="color: rgb(255, 51, 0);">Webflow</span></p>
        </div>

        <div class="header-actions">
            <img src="images/facebook-icon.svg" alt="Facebook" class="header-icon">
            <img src="images/twitter-icon.svg" alt="Twitter" class="header-icon">
            <img src="images/whiteInstagram-icon.svg" alt="Instagram" class="header-icon">
        </div>
    </div>
</footer>