<header class="header">
    <div class="container">
        <div class="logo">
            <a href="homePage.html">Foodieland</a><a style="color: orange;">.</a>
        </div>
        <nav>
            <ul>
                <li data-page="homePage.html">Home</li>
                <li data-page="recipeDetailsPage.html">Recipes</li>
                <li data-page="blogListPage.html">Blog</li>
                <li data-page="contactPage.html">Contact</li>
                <li data-page="aboutUsPage.html">About us</li>
            </ul>  
        </nav>

        <div class="header-actions">
            <img src="images/facebook-icon.svg" alt="Facebook" class="header-icon">
            <img src="images/twitter-icon.svg" alt="Twitter" class="header-icon">
            <img src="images/whiteInstagram-icon.svg" alt="Instagram" class="header-icon">
        </div>
    </div>
</header>
