<div class="tryThis">
    <div class="tryThis-carousel" data-trythis-carousel>
        <div class="tryThis-track">
            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/fruiteSalad.png" alt="fruiteSalad-img">
                    <div class="heart-icon">
                        <img src="images/redHeart-icon.svg" alt="">
                    </div>
                </div>
                <h3 class="custom-title">Mixed Tropical Fruit Salad with <br> Superfood Boosts</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/wagyuBeef.png" alt="wagyuBeef">
                    <div class="heart-icon">
                        <img src="images/whiteHeart-icon.svg" alt="">
                    </div>
                </div>
                <h3 class="custom-title">Big and Juicy Wagyu Beef <br> Cheeseburger</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/japaneseFood.png" alt="japaneseFood-img">
                    <div class="heart-icon">
                        <img src="images/redHeart-icon.svg" alt="">
                    </div>
                </div>
                <h3 class="custom-title">Healthy Japanese Fried Rice with <br> Asparagus</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/taco.png" alt="taco-img">
                    <div class="heart-icon">
                        <img src="images/whiteHeart-icon.svg" alt="">
                    </div>
                </div>
                <h3 class="custom-title">Cauliflower Walnut Vegetarian <br> Taco Meat</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/chickenSalad.png" alt="chickenSalad-img">
                    <div class="heart-icon">
                        <img src="images/redHeart-icon.svg">
                    </div>
                </div>
                <h3 class="custom-title">Rainbow Chicken Salad with <br> Almond Honey Mustard Dressing</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/sandwiches.png" alt="sandwiches-img">
                    <div class="heart-icon">
                        <img src="images/whiteHeart-icon.svg">
                    </div>
                </div>
                <h3 class="custom-title">Barbeque Spicy Sandwiches <br> with Chips</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/veganFood.png" alt="veganFood-img">
                    <div class="heart-icon">
                        <img src="images/whiteHeart-icon.svg">
                    </div>
                </div>
                <h3 class="custom-title">Firecracker Vegan Lettuce <br> Wraps - Spicy!</h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>

            <div class="tryThis-item" data-page="recipeDetailsPage.html" tabindex="0" role="button">
                <div class="image-container">
                    <img src="images/romen.png" alt="romen-img">
                    <div class="heart-icon">
                        <img src="images/redHeart-icon.svg">
                    </div>
                </div>
                <h3 class="custom-title">Chicken Ramen Soup with <br> Mushroom </h3>
                <div class="tag-container">
                    <span class="recipe-tag clock-icon">30 Minutes</span>
                </div>
                <div class="tag-container">
                    <span class="recipe-tag food-icon">Sweet</span>
                </div>
            </div>
        </div>
    </div>
</div>